
nav {
  font-family: "Inter";
}

nav h2{
  display: inline-block;
  padding: 4px;
}

nav .nav-links{
  padding-left: 20px;
  display: inline;
}

nav a{
  color: black;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid black;
}

nav h2 a{
  color: black;
  padding-left: 8px;
  border: none;
}



.content{
  text-align: center;
}

.content h1 {
  font-size: 54px;
  font-weight: 600;
  font-family: "Inter";
  background-color: #006b3f;
    background-image: linear-gradient(45deg, #f3ec78, #006b3f);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.content p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: grey;
}
